
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}


.header {
    height: 80px;
    background-color: white;
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position:sticky;
    z-index: 999;

}


.navbar ul {
    display: flex;
    list-style: none;
    column-gap: 25px;
}

.navbar ul.admin{
    display: flex;
    /* grid-template-columns: 1fr 1fr ; */
    list-style: none;
    column-gap: 25px;
}

.navbar li {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    font-size: 1.2rem;
}

.navbar a{
    text-decoration: none;
    color: var(--black-color);
}

.navbar a:hover{
    
    color: var(--black-color-hover);
    transition-delay: 0.2s;
} 


.navlogo {
    max-width: 130px;
}
  

.navbar .createbtn {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 12px;
}
.navbar .createbtn:hover{
    border: 1.5px solid rgb(63, 62, 62);
    
}



.mobile-menu-icon{
    display: none;
}

/*----------------------------mobie---------------------------------*/

@media screen and (max-width: 750px){
    .header{
        padding: 0 2rem;
    }

    .navbar li {
        font-size: 14px;
    }

    .navbar li .createbtn{
        text-align: center;
        border: none;
    }
    .navbar li .createbtn:hover{
        border: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap:15px;
    }

    .navlogo {
        max-width: 85px;
    }

}
